.body{
    font-family:"Roboto", sans-serif;
color: #434455;
background-color:#FFF;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0,032;
}

ul{
 list-style-type: none;
}

a {
    text-transform: uppercase;
};

.header-logo{
    font-family:"Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.header span{
    color:#2e2f42;
}

.header-menu{
     color:#2E2F42;
    /* Body Medium */
    font-family: Roboto ;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0,02em;

}

.header-info-adress{
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

/*=============main======*/

.main-section {
background:#2E2F42;
}
   

.main-bisnes{
    color:#FFF;
        text-align: center;
        /* Header 1 */
        font-family: Roboto;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
}


.main-btn{
    color: #FFF;
        /* Button Text */
        font-family:"Roboto",sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;

    background:#4D5AE5;
    cursor: pointer;
}

/*========main=text=====*/


.main-text-info{
    color: #2E2F42;
        /* Header 3 */
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}

.main-title{
    color:#434455;
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.main-text{
    background: #FFFFFF;
}

/*=============main=team=====*/

.main-section-team{
    background: #F4F4FD;
}

.main-out-team{
    color: #2E2F42;
        text-align: center;
        /* Header 2 */
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}


.main-img-team{
    color:#2E2F42;
        text-align: center;
        /* Header 3 */
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.main-profesional{
    color: #434455;
        text-align: center;
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/*========portfolio=======*/


.main-section-portfolio{
    background:#FFFFFF;
}

.main-our{
    color: #2E2F42;
    text-align: center;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}

.main-prod-info{
    color: #2E2F42;
        /* Header 3 */
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.main-prod-app{
    color: #434455;
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height:1.5;
        letter-spacing: 0.02em;
}

/*=========footeeer=====*/

.footer{
    background: #2E2F42;
}

.footer-web{
    color:#4d5ae5;
    font-family:"Raleway",sans-serif ;
    font-size: 18px;
    font-weight: 700;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-web span{
    color:#f4f4fd;
}
.footer-text{
    color: var(--CLOUD, #F4F4FD);
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}



